<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#54bab9">
    <meta name="description" content="List Restaurants of Nusantara for you">
    <link rel="apple-touch-icon" href="/images/icons/icon-192x192.png">
    <link rel="manifest" href="manifest.json">
    <link rel="icon" href="favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Source+Sans+Pro:wght@300&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>SERESTA</title>
</head>

<body>
    <a tabindex="0" href="#mainContent" class="skip-link">Go to Content</a>  
    <header>
        <div>
            <a href="/" class="logo" aria-label="seresta logo">
               SR
            </a>
            <button class="hamburger" id="hamburgerButton" aria-label="hamburger menu">☰</button>
        </div>
        <nav id="navigationDrawer">
            <ul class="nav__list">
                <li class="nav__item"><a href="#/list-restaurants">home</a></li>
                <li class="nav__item"><a href="#/like">favorite</a></li>
                <li class="nav__item"><a href="https://github.com/rulhuda" target="_blank" rel="noreferrer">about us</a>
                </li>
            </ul>
        </nav>
    </header>
    
    <main id="mainContent">
        <section class="content">
            <div id="restaurants" class="restaurants">
                <h3 tabindex="1" class="resto__label" aria-label="this is restaurant label and above a list of restaurants.">RESTAURANTS</h3>
                <div id="restoList" class="resto-list">
                </div>
            </div>
        </section>
    </main>

    <footer>
        <div class="text-center fw-bold">
            <p class="text-muted">Copyright &copy; 2022 - SERESTA</p>
        </div>
    </footer>
</body>

</html>