@media screen and (min-width: 1200px) {
    header{
        min-width: 1000px;
    }

    .hero{
        height: 559px;
    }

    .hero__text{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1199px){
    .hero{
        height: 520px;
    }

    .hero__text{
        margin-top: 50px;
    }
}

@media screen and (max-width: 1000px) {
    header{
        min-width: 820px;
    }
    .hero{
        height: 480px;
    }

    .hero__text{
        margin-top: 50px;
    }
    .hero__title {
        width: 50%;
        font-size: 4.4em;
    }

    .hero__tagline {
        width: 50%;
        font-size: 3.4em;
    }

    .search{
        width: 50%;
    }
}

@media screen and (max-width: 820px) {

    #home{
        max-width: 100%;
    }

    header {
        display: block;
        box-sizing: border-box;
        min-width: 460px;
    }

    header div {
        display: flex;
        justify-content: space-between;
    }

    header div a {
        display: block;
    }

    .hero{
        height: 440px;
    }

    .hero__text{
        margin-top: 50px;
    }

    .hero__title{
        width: 55%;
        font-size: 3.6em;
    }

    .hero__tagline{
        width: 55%;
        font-size: 2.6em;
    }

    .search{
        width: 55%;
    }

    .resto__label{
        padding-top: 20px;
    }

    .nav__list{
        position: absolute;
        display: hidden;
        top: 90px;
        left: -300px;
        transition: all 0.3s;
        padding: 0px 35px 15px 35px;
        background-color: white;
        overflow: hidden;
    }

    .nav__list.open {
        left: 0;
    }

    li.nav__item {
        display: block;
        margin-top: 0.5em;
        font-size: 2em;
    }

    .profile-img {
        width: 100%;
    }

    .hamburger {
        display: block;
        font-size: 1.6em;
        font-weight: bold;
        padding: 0.3em 0.6em;
    }
    a.logo {
        cursor: pointer;
        min-width: 1vw;
        padding: 0.3em 0.6em;
        font-size: 1.6em;
        color: #289391;
        text-decoration: underline;
    }

    .resto-list {
        grid-template-columns: repeat(2, 1fr);
    }

    .resto-list-detail{
        margin: 32px auto auto;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr;
        gap:1em;
        width: 100%;
    }

    .hero__text{
        margin-top: 20px;
    }
}

@media screen and (max-width: 600px) {
    header{
        min-width: 150px;
    }
    .hero__text{
        margin-top: 40px;
    }
    .resto__label{
        font-size: 2.6em;
    }
    .hero__title{
        font-size: 3em;
        width: 60%;
    }

    .hero__tagline{
        font-size: 1.8em;
        width: 60%;
    }

    .search{
        width: 60%;
    }

    .resto-list {
        grid-template-columns: 1fr;
    }
}
@media screen and (max-width: 400px) {
    header{
        min-width: 50px;
    }
    .hero{
        height: 300px;
    }
    .hero__text{
        margin-top: 35px;
    }

    .hero__title{
        font-size: 2.4em;
        width: 65%;
    }

    .hero__tagline{
        font-size: 1.4em;
        width: 65%;
    }

    .search{
        width: 65%;
    }

    .resto__label{
        font-size: 2em;
    }
}